/*阀值*/
/*页面分的列数*/
@media screen and (min-width: 500px) {
  .works-con,
  .skill-con,
  .skill-box-back {
    width: 470px;
  }
  .about-con {
    width: 500px;
  }
  .on-about-con {
    width: 100%;
    height: 400px;
  }
  .header {
    height: 400px;
  }
  .wenzi-1 {
    font-size: 100px;
  }
  .wenzi-2 {
    font-size: 24px;
  }
  .down {
    margin-top: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .works-con,
  .skill-con,
  .skill-box-back,
  .about-con {
    width: 930px;
  }
  .on-about-con {
    width: 100%;
    height: 400px;
  }
  .header {
    height: 600px;
  }
  .wenzi-1 {
    font-size: 200px;
  }
  .wenzi-2 {
    font-size: 30px;
  }
  .down {
    margin-top: 100px;
  }
}
.container > .row > .col-s-1 {
  float: left;
  width: 8.33333333%;
}
.container-fluid > .row > .col-s-1 {
  float: left;
  width: 8.33333333%;
}
/*调整一个的位置*/
/*offsetl 往左放
   *offsetr 往右放
   */
.container > .row > .col-s-offsetl-1 {
  margin-left: -8.33333333%;
}
.container > .row > .col-s-offsetr-1 {
  margin-left: 8.33333333%;
}
.container-fluid > .row > .col-s-offsetl-1 {
  margin-left: -8.33333333%;
}
.container-fluid > .row > .col-s-offsetr-1 {
  margin-left: 8.33333333%;
}
/*调整多个的位置*/
/*push 往右放
   *@{i} 移动几个列
   */
.container > .row > .col-s-push-1 {
  position: relative;
  left: 8.33333333%;
}
.container > .row > .col-s-pull-1 {
  position: relative;
  right: 8.33333333%;
}
.container-fluid > .row > .col-s-push-1 {
  position: relative;
  left: 8.33333333%;
}
.container-fluid > .row > .col-s-pull-1 {
  position: relative;
  right: 8.33333333%;
}
.container > .row > .col-s-2 {
  float: left;
  width: 16.66666667%;
}
.container-fluid > .row > .col-s-2 {
  float: left;
  width: 16.66666667%;
}
/*调整一个的位置*/
/*offsetl 往左放
   *offsetr 往右放
   */
.container > .row > .col-s-offsetl-2 {
  margin-left: -16.66666667%;
}
.container > .row > .col-s-offsetr-2 {
  margin-left: 16.66666667%;
}
.container-fluid > .row > .col-s-offsetl-2 {
  margin-left: -16.66666667%;
}
.container-fluid > .row > .col-s-offsetr-2 {
  margin-left: 16.66666667%;
}
/*调整多个的位置*/
/*push 往右放
   *@{i} 移动几个列
   */
.container > .row > .col-s-push-2 {
  position: relative;
  left: 16.66666667%;
}
.container > .row > .col-s-pull-2 {
  position: relative;
  right: 16.66666667%;
}
.container-fluid > .row > .col-s-push-2 {
  position: relative;
  left: 16.66666667%;
}
.container-fluid > .row > .col-s-pull-2 {
  position: relative;
  right: 16.66666667%;
}
.container > .row > .col-s-3 {
  float: left;
  width: 25%;
}
.container-fluid > .row > .col-s-3 {
  float: left;
  width: 25%;
}
/*调整一个的位置*/
/*offsetl 往左放
   *offsetr 往右放
   */
.container > .row > .col-s-offsetl-3 {
  margin-left: -25%;
}
.container > .row > .col-s-offsetr-3 {
  margin-left: 25%;
}
.container-fluid > .row > .col-s-offsetl-3 {
  margin-left: -25%;
}
.container-fluid > .row > .col-s-offsetr-3 {
  margin-left: 25%;
}
/*调整多个的位置*/
/*push 往右放
   *@{i} 移动几个列
   */
.container > .row > .col-s-push-3 {
  position: relative;
  left: 25%;
}
.container > .row > .col-s-pull-3 {
  position: relative;
  right: 25%;
}
.container-fluid > .row > .col-s-push-3 {
  position: relative;
  left: 25%;
}
.container-fluid > .row > .col-s-pull-3 {
  position: relative;
  right: 25%;
}
.container > .row > .col-s-4 {
  float: left;
  width: 33.33333333%;
}
.container-fluid > .row > .col-s-4 {
  float: left;
  width: 33.33333333%;
}
/*调整一个的位置*/
/*offsetl 往左放
   *offsetr 往右放
   */
.container > .row > .col-s-offsetl-4 {
  margin-left: -33.33333333%;
}
.container > .row > .col-s-offsetr-4 {
  margin-left: 33.33333333%;
}
.container-fluid > .row > .col-s-offsetl-4 {
  margin-left: -33.33333333%;
}
.container-fluid > .row > .col-s-offsetr-4 {
  margin-left: 33.33333333%;
}
/*调整多个的位置*/
/*push 往右放
   *@{i} 移动几个列
   */
.container > .row > .col-s-push-4 {
  position: relative;
  left: 33.33333333%;
}
.container > .row > .col-s-pull-4 {
  position: relative;
  right: 33.33333333%;
}
.container-fluid > .row > .col-s-push-4 {
  position: relative;
  left: 33.33333333%;
}
.container-fluid > .row > .col-s-pull-4 {
  position: relative;
  right: 33.33333333%;
}
.container > .row > .col-s-5 {
  float: left;
  width: 41.66666667%;
}
.container-fluid > .row > .col-s-5 {
  float: left;
  width: 41.66666667%;
}
/*调整一个的位置*/
/*offsetl 往左放
   *offsetr 往右放
   */
.container > .row > .col-s-offsetl-5 {
  margin-left: -41.66666667%;
}
.container > .row > .col-s-offsetr-5 {
  margin-left: 41.66666667%;
}
.container-fluid > .row > .col-s-offsetl-5 {
  margin-left: -41.66666667%;
}
.container-fluid > .row > .col-s-offsetr-5 {
  margin-left: 41.66666667%;
}
/*调整多个的位置*/
/*push 往右放
   *@{i} 移动几个列
   */
.container > .row > .col-s-push-5 {
  position: relative;
  left: 41.66666667%;
}
.container > .row > .col-s-pull-5 {
  position: relative;
  right: 41.66666667%;
}
.container-fluid > .row > .col-s-push-5 {
  position: relative;
  left: 41.66666667%;
}
.container-fluid > .row > .col-s-pull-5 {
  position: relative;
  right: 41.66666667%;
}
.container > .row > .col-s-6 {
  float: left;
  width: 50%;
}
.container-fluid > .row > .col-s-6 {
  float: left;
  width: 50%;
}
/*调整一个的位置*/
/*offsetl 往左放
   *offsetr 往右放
   */
.container > .row > .col-s-offsetl-6 {
  margin-left: -50%;
}
.container > .row > .col-s-offsetr-6 {
  margin-left: 50%;
}
.container-fluid > .row > .col-s-offsetl-6 {
  margin-left: -50%;
}
.container-fluid > .row > .col-s-offsetr-6 {
  margin-left: 50%;
}
/*调整多个的位置*/
/*push 往右放
   *@{i} 移动几个列
   */
.container > .row > .col-s-push-6 {
  position: relative;
  left: 50%;
}
.container > .row > .col-s-pull-6 {
  position: relative;
  right: 50%;
}
.container-fluid > .row > .col-s-push-6 {
  position: relative;
  left: 50%;
}
.container-fluid > .row > .col-s-pull-6 {
  position: relative;
  right: 50%;
}
.container > .row > .col-s-7 {
  float: left;
  width: 58.33333333%;
}
.container-fluid > .row > .col-s-7 {
  float: left;
  width: 58.33333333%;
}
/*调整一个的位置*/
/*offsetl 往左放
   *offsetr 往右放
   */
.container > .row > .col-s-offsetl-7 {
  margin-left: -58.33333333%;
}
.container > .row > .col-s-offsetr-7 {
  margin-left: 58.33333333%;
}
.container-fluid > .row > .col-s-offsetl-7 {
  margin-left: -58.33333333%;
}
.container-fluid > .row > .col-s-offsetr-7 {
  margin-left: 58.33333333%;
}
/*调整多个的位置*/
/*push 往右放
   *@{i} 移动几个列
   */
.container > .row > .col-s-push-7 {
  position: relative;
  left: 58.33333333%;
}
.container > .row > .col-s-pull-7 {
  position: relative;
  right: 58.33333333%;
}
.container-fluid > .row > .col-s-push-7 {
  position: relative;
  left: 58.33333333%;
}
.container-fluid > .row > .col-s-pull-7 {
  position: relative;
  right: 58.33333333%;
}
.container > .row > .col-s-8 {
  float: left;
  width: 66.66666667%;
}
.container-fluid > .row > .col-s-8 {
  float: left;
  width: 66.66666667%;
}
/*调整一个的位置*/
/*offsetl 往左放
   *offsetr 往右放
   */
.container > .row > .col-s-offsetl-8 {
  margin-left: -66.66666667%;
}
.container > .row > .col-s-offsetr-8 {
  margin-left: 66.66666667%;
}
.container-fluid > .row > .col-s-offsetl-8 {
  margin-left: -66.66666667%;
}
.container-fluid > .row > .col-s-offsetr-8 {
  margin-left: 66.66666667%;
}
/*调整多个的位置*/
/*push 往右放
   *@{i} 移动几个列
   */
.container > .row > .col-s-push-8 {
  position: relative;
  left: 66.66666667%;
}
.container > .row > .col-s-pull-8 {
  position: relative;
  right: 66.66666667%;
}
.container-fluid > .row > .col-s-push-8 {
  position: relative;
  left: 66.66666667%;
}
.container-fluid > .row > .col-s-pull-8 {
  position: relative;
  right: 66.66666667%;
}
.container > .row > .col-s-9 {
  float: left;
  width: 75%;
}
.container-fluid > .row > .col-s-9 {
  float: left;
  width: 75%;
}
/*调整一个的位置*/
/*offsetl 往左放
   *offsetr 往右放
   */
.container > .row > .col-s-offsetl-9 {
  margin-left: -75%;
}
.container > .row > .col-s-offsetr-9 {
  margin-left: 75%;
}
.container-fluid > .row > .col-s-offsetl-9 {
  margin-left: -75%;
}
.container-fluid > .row > .col-s-offsetr-9 {
  margin-left: 75%;
}
/*调整多个的位置*/
/*push 往右放
   *@{i} 移动几个列
   */
.container > .row > .col-s-push-9 {
  position: relative;
  left: 75%;
}
.container > .row > .col-s-pull-9 {
  position: relative;
  right: 75%;
}
.container-fluid > .row > .col-s-push-9 {
  position: relative;
  left: 75%;
}
.container-fluid > .row > .col-s-pull-9 {
  position: relative;
  right: 75%;
}
.container > .row > .col-s-10 {
  float: left;
  width: 83.33333333%;
}
.container-fluid > .row > .col-s-10 {
  float: left;
  width: 83.33333333%;
}
/*调整一个的位置*/
/*offsetl 往左放
   *offsetr 往右放
   */
.container > .row > .col-s-offsetl-10 {
  margin-left: -83.33333333%;
}
.container > .row > .col-s-offsetr-10 {
  margin-left: 83.33333333%;
}
.container-fluid > .row > .col-s-offsetl-10 {
  margin-left: -83.33333333%;
}
.container-fluid > .row > .col-s-offsetr-10 {
  margin-left: 83.33333333%;
}
/*调整多个的位置*/
/*push 往右放
   *@{i} 移动几个列
   */
.container > .row > .col-s-push-10 {
  position: relative;
  left: 83.33333333%;
}
.container > .row > .col-s-pull-10 {
  position: relative;
  right: 83.33333333%;
}
.container-fluid > .row > .col-s-push-10 {
  position: relative;
  left: 83.33333333%;
}
.container-fluid > .row > .col-s-pull-10 {
  position: relative;
  right: 83.33333333%;
}
.container > .row > .col-s-11 {
  float: left;
  width: 91.66666667%;
}
.container-fluid > .row > .col-s-11 {
  float: left;
  width: 91.66666667%;
}
/*调整一个的位置*/
/*offsetl 往左放
   *offsetr 往右放
   */
.container > .row > .col-s-offsetl-11 {
  margin-left: -91.66666667%;
}
.container > .row > .col-s-offsetr-11 {
  margin-left: 91.66666667%;
}
.container-fluid > .row > .col-s-offsetl-11 {
  margin-left: -91.66666667%;
}
.container-fluid > .row > .col-s-offsetr-11 {
  margin-left: 91.66666667%;
}
/*调整多个的位置*/
/*push 往右放
   *@{i} 移动几个列
   */
.container > .row > .col-s-push-11 {
  position: relative;
  left: 91.66666667%;
}
.container > .row > .col-s-pull-11 {
  position: relative;
  right: 91.66666667%;
}
.container-fluid > .row > .col-s-push-11 {
  position: relative;
  left: 91.66666667%;
}
.container-fluid > .row > .col-s-pull-11 {
  position: relative;
  right: 91.66666667%;
}
.container > .row > .col-s-12 {
  float: left;
  width: 100%;
}
.container-fluid > .row > .col-s-12 {
  float: left;
  width: 100%;
}
/*调整一个的位置*/
/*offsetl 往左放
   *offsetr 往右放
   */
.container > .row > .col-s-offsetl-12 {
  margin-left: -100%;
}
.container > .row > .col-s-offsetr-12 {
  margin-left: 100%;
}
.container-fluid > .row > .col-s-offsetl-12 {
  margin-left: -100%;
}
.container-fluid > .row > .col-s-offsetr-12 {
  margin-left: 100%;
}
/*调整多个的位置*/
/*push 往右放
   *@{i} 移动几个列
   */
.container > .row > .col-s-push-12 {
  position: relative;
  left: 100%;
}
.container > .row > .col-s-pull-12 {
  position: relative;
  right: 100%;
}
.container-fluid > .row > .col-s-push-12 {
  position: relative;
  left: 100%;
}
.container-fluid > .row > .col-s-pull-12 {
  position: relative;
  right: 100%;
}
/*小屏隐藏元素*/
.container > .row > .col-s-hid {
  display: none;
}
.container {
  width: 400px;
  height: 100%;
  margin: 0 auto;
}
.container :after {
  content: "";
  display: block;
  clear: both;
}
.container-fluid {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.container-fluid :after {
  content: "";
  display: block;
  clear: both;
}
.container > .row {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-fluid > .row {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*响应式的列*/
@media screen and (min-width: 500px) {
  .container {
    width: 500px;
  }
  .container > .row > .col-m-hid {
    display: none;
  }
  .container > .row > .col-s-hid {
    display: block;
  }
  .container > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-m-offsetl-1 {
    margin-left: -8.33333333%;
  }
  .container > .row > .col-m-offsetr-1 {
    margin-left: 8.33333333%;
  }
  .container-fluid > .row > .col-m-offsetl-1 {
    margin-left: -8.33333333%;
  }
  .container-fluid > .row > .col-m-offsetr-1 {
    margin-left: 8.33333333%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-m-push-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container > .row > .col-m-pull-1 {
    position: relative;
    right: 8.33333333%;
  }
  .container-fluid > .row > .col-m-push-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container-fluid > .row > .col-m-pull-1 {
    position: relative;
    right: 8.33333333%;
  }
  .container > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-m-offsetl-2 {
    margin-left: -16.66666667%;
  }
  .container > .row > .col-m-offsetr-2 {
    margin-left: 16.66666667%;
  }
  .container-fluid > .row > .col-m-offsetl-2 {
    margin-left: -16.66666667%;
  }
  .container-fluid > .row > .col-m-offsetr-2 {
    margin-left: 16.66666667%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-m-push-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container > .row > .col-m-pull-2 {
    position: relative;
    right: 16.66666667%;
  }
  .container-fluid > .row > .col-m-push-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container-fluid > .row > .col-m-pull-2 {
    position: relative;
    right: 16.66666667%;
  }
  .container > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-m-offsetl-3 {
    margin-left: -25%;
  }
  .container > .row > .col-m-offsetr-3 {
    margin-left: 25%;
  }
  .container-fluid > .row > .col-m-offsetl-3 {
    margin-left: -25%;
  }
  .container-fluid > .row > .col-m-offsetr-3 {
    margin-left: 25%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-m-push-3 {
    position: relative;
    left: 25%;
  }
  .container > .row > .col-m-pull-3 {
    position: relative;
    right: 25%;
  }
  .container-fluid > .row > .col-m-push-3 {
    position: relative;
    left: 25%;
  }
  .container-fluid > .row > .col-m-pull-3 {
    position: relative;
    right: 25%;
  }
  .container > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-m-offsetl-4 {
    margin-left: -33.33333333%;
  }
  .container > .row > .col-m-offsetr-4 {
    margin-left: 33.33333333%;
  }
  .container-fluid > .row > .col-m-offsetl-4 {
    margin-left: -33.33333333%;
  }
  .container-fluid > .row > .col-m-offsetr-4 {
    margin-left: 33.33333333%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-m-push-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container > .row > .col-m-pull-4 {
    position: relative;
    right: 33.33333333%;
  }
  .container-fluid > .row > .col-m-push-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container-fluid > .row > .col-m-pull-4 {
    position: relative;
    right: 33.33333333%;
  }
  .container > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-m-offsetl-5 {
    margin-left: -41.66666667%;
  }
  .container > .row > .col-m-offsetr-5 {
    margin-left: 41.66666667%;
  }
  .container-fluid > .row > .col-m-offsetl-5 {
    margin-left: -41.66666667%;
  }
  .container-fluid > .row > .col-m-offsetr-5 {
    margin-left: 41.66666667%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-m-push-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container > .row > .col-m-pull-5 {
    position: relative;
    right: 41.66666667%;
  }
  .container-fluid > .row > .col-m-push-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container-fluid > .row > .col-m-pull-5 {
    position: relative;
    right: 41.66666667%;
  }
  .container > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-m-offsetl-6 {
    margin-left: -50%;
  }
  .container > .row > .col-m-offsetr-6 {
    margin-left: 50%;
  }
  .container-fluid > .row > .col-m-offsetl-6 {
    margin-left: -50%;
  }
  .container-fluid > .row > .col-m-offsetr-6 {
    margin-left: 50%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-m-push-6 {
    position: relative;
    left: 50%;
  }
  .container > .row > .col-m-pull-6 {
    position: relative;
    right: 50%;
  }
  .container-fluid > .row > .col-m-push-6 {
    position: relative;
    left: 50%;
  }
  .container-fluid > .row > .col-m-pull-6 {
    position: relative;
    right: 50%;
  }
  .container > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-m-offsetl-7 {
    margin-left: -58.33333333%;
  }
  .container > .row > .col-m-offsetr-7 {
    margin-left: 58.33333333%;
  }
  .container-fluid > .row > .col-m-offsetl-7 {
    margin-left: -58.33333333%;
  }
  .container-fluid > .row > .col-m-offsetr-7 {
    margin-left: 58.33333333%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-m-push-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container > .row > .col-m-pull-7 {
    position: relative;
    right: 58.33333333%;
  }
  .container-fluid > .row > .col-m-push-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container-fluid > .row > .col-m-pull-7 {
    position: relative;
    right: 58.33333333%;
  }
  .container > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-m-offsetl-8 {
    margin-left: -66.66666667%;
  }
  .container > .row > .col-m-offsetr-8 {
    margin-left: 66.66666667%;
  }
  .container-fluid > .row > .col-m-offsetl-8 {
    margin-left: -66.66666667%;
  }
  .container-fluid > .row > .col-m-offsetr-8 {
    margin-left: 66.66666667%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-m-push-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container > .row > .col-m-pull-8 {
    position: relative;
    right: 66.66666667%;
  }
  .container-fluid > .row > .col-m-push-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container-fluid > .row > .col-m-pull-8 {
    position: relative;
    right: 66.66666667%;
  }
  .container > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-m-offsetl-9 {
    margin-left: -75%;
  }
  .container > .row > .col-m-offsetr-9 {
    margin-left: 75%;
  }
  .container-fluid > .row > .col-m-offsetl-9 {
    margin-left: -75%;
  }
  .container-fluid > .row > .col-m-offsetr-9 {
    margin-left: 75%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-m-push-9 {
    position: relative;
    left: 75%;
  }
  .container > .row > .col-m-pull-9 {
    position: relative;
    right: 75%;
  }
  .container-fluid > .row > .col-m-push-9 {
    position: relative;
    left: 75%;
  }
  .container-fluid > .row > .col-m-pull-9 {
    position: relative;
    right: 75%;
  }
  .container > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-m-offsetl-10 {
    margin-left: -83.33333333%;
  }
  .container > .row > .col-m-offsetr-10 {
    margin-left: 83.33333333%;
  }
  .container-fluid > .row > .col-m-offsetl-10 {
    margin-left: -83.33333333%;
  }
  .container-fluid > .row > .col-m-offsetr-10 {
    margin-left: 83.33333333%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-m-push-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container > .row > .col-m-pull-10 {
    position: relative;
    right: 83.33333333%;
  }
  .container-fluid > .row > .col-m-push-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container-fluid > .row > .col-m-pull-10 {
    position: relative;
    right: 83.33333333%;
  }
  .container > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-m-offsetl-11 {
    margin-left: -91.66666667%;
  }
  .container > .row > .col-m-offsetr-11 {
    margin-left: 91.66666667%;
  }
  .container-fluid > .row > .col-m-offsetl-11 {
    margin-left: -91.66666667%;
  }
  .container-fluid > .row > .col-m-offsetr-11 {
    margin-left: 91.66666667%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-m-push-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container > .row > .col-m-pull-11 {
    position: relative;
    right: 91.66666667%;
  }
  .container-fluid > .row > .col-m-push-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container-fluid > .row > .col-m-pull-11 {
    position: relative;
    right: 91.66666667%;
  }
  .container > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-m-offsetl-12 {
    margin-left: -100%;
  }
  .container > .row > .col-m-offsetr-12 {
    margin-left: 100%;
  }
  .container-fluid > .row > .col-m-offsetl-12 {
    margin-left: -100%;
  }
  .container-fluid > .row > .col-m-offsetr-12 {
    margin-left: 100%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-m-push-12 {
    position: relative;
    left: 100%;
  }
  .container > .row > .col-m-pull-12 {
    position: relative;
    right: 100%;
  }
  .container-fluid > .row > .col-m-push-12 {
    position: relative;
    left: 100%;
  }
  .container-fluid > .row > .col-m-pull-12 {
    position: relative;
    right: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .container > .row > .col-l-hid {
    display: none;
  }
  .container > .row > .col-s-hid {
    display: block;
  }
  .container > .row > .col-m-hid {
    display: block;
  }
  .container > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-l-offsetl-1 {
    margin-left: -8.33333333%;
  }
  .container > .row > .col-l-offsetr-1 {
    margin-left: 8.33333333%;
  }
  .container-fluid > .row > .col-l-offsetl-1 {
    margin-left: -8.33333333%;
  }
  .container-fluid > .row > .col-l-offsetr-1 {
    margin-left: 8.33333333%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-l-push-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container > .row > .col-l-pull-1 {
    position: relative;
    right: 8.33333333%;
  }
  .container-fluid > .row > .col-l-push-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container-fluid > .row > .col-l-pull-1 {
    position: relative;
    right: 8.33333333%;
  }
  .container > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-l-offsetl-2 {
    margin-left: -16.66666667%;
  }
  .container > .row > .col-l-offsetr-2 {
    margin-left: 16.66666667%;
  }
  .container-fluid > .row > .col-l-offsetl-2 {
    margin-left: -16.66666667%;
  }
  .container-fluid > .row > .col-l-offsetr-2 {
    margin-left: 16.66666667%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-l-push-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container > .row > .col-l-pull-2 {
    position: relative;
    right: 16.66666667%;
  }
  .container-fluid > .row > .col-l-push-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container-fluid > .row > .col-l-pull-2 {
    position: relative;
    right: 16.66666667%;
  }
  .container > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-l-offsetl-3 {
    margin-left: -25%;
  }
  .container > .row > .col-l-offsetr-3 {
    margin-left: 25%;
  }
  .container-fluid > .row > .col-l-offsetl-3 {
    margin-left: -25%;
  }
  .container-fluid > .row > .col-l-offsetr-3 {
    margin-left: 25%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-l-push-3 {
    position: relative;
    left: 25%;
  }
  .container > .row > .col-l-pull-3 {
    position: relative;
    right: 25%;
  }
  .container-fluid > .row > .col-l-push-3 {
    position: relative;
    left: 25%;
  }
  .container-fluid > .row > .col-l-pull-3 {
    position: relative;
    right: 25%;
  }
  .container > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-l-offsetl-4 {
    margin-left: -33.33333333%;
  }
  .container > .row > .col-l-offsetr-4 {
    margin-left: 33.33333333%;
  }
  .container-fluid > .row > .col-l-offsetl-4 {
    margin-left: -33.33333333%;
  }
  .container-fluid > .row > .col-l-offsetr-4 {
    margin-left: 33.33333333%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-l-push-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container > .row > .col-l-pull-4 {
    position: relative;
    right: 33.33333333%;
  }
  .container-fluid > .row > .col-l-push-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container-fluid > .row > .col-l-pull-4 {
    position: relative;
    right: 33.33333333%;
  }
  .container > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-l-offsetl-5 {
    margin-left: -41.66666667%;
  }
  .container > .row > .col-l-offsetr-5 {
    margin-left: 41.66666667%;
  }
  .container-fluid > .row > .col-l-offsetl-5 {
    margin-left: -41.66666667%;
  }
  .container-fluid > .row > .col-l-offsetr-5 {
    margin-left: 41.66666667%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-l-push-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container > .row > .col-l-pull-5 {
    position: relative;
    right: 41.66666667%;
  }
  .container-fluid > .row > .col-l-push-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container-fluid > .row > .col-l-pull-5 {
    position: relative;
    right: 41.66666667%;
  }
  .container > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-l-offsetl-6 {
    margin-left: -50%;
  }
  .container > .row > .col-l-offsetr-6 {
    margin-left: 50%;
  }
  .container-fluid > .row > .col-l-offsetl-6 {
    margin-left: -50%;
  }
  .container-fluid > .row > .col-l-offsetr-6 {
    margin-left: 50%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-l-push-6 {
    position: relative;
    left: 50%;
  }
  .container > .row > .col-l-pull-6 {
    position: relative;
    right: 50%;
  }
  .container-fluid > .row > .col-l-push-6 {
    position: relative;
    left: 50%;
  }
  .container-fluid > .row > .col-l-pull-6 {
    position: relative;
    right: 50%;
  }
  .container > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-l-offsetl-7 {
    margin-left: -58.33333333%;
  }
  .container > .row > .col-l-offsetr-7 {
    margin-left: 58.33333333%;
  }
  .container-fluid > .row > .col-l-offsetl-7 {
    margin-left: -58.33333333%;
  }
  .container-fluid > .row > .col-l-offsetr-7 {
    margin-left: 58.33333333%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-l-push-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container > .row > .col-l-pull-7 {
    position: relative;
    right: 58.33333333%;
  }
  .container-fluid > .row > .col-l-push-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container-fluid > .row > .col-l-pull-7 {
    position: relative;
    right: 58.33333333%;
  }
  .container > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-l-offsetl-8 {
    margin-left: -66.66666667%;
  }
  .container > .row > .col-l-offsetr-8 {
    margin-left: 66.66666667%;
  }
  .container-fluid > .row > .col-l-offsetl-8 {
    margin-left: -66.66666667%;
  }
  .container-fluid > .row > .col-l-offsetr-8 {
    margin-left: 66.66666667%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-l-push-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container > .row > .col-l-pull-8 {
    position: relative;
    right: 66.66666667%;
  }
  .container-fluid > .row > .col-l-push-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container-fluid > .row > .col-l-pull-8 {
    position: relative;
    right: 66.66666667%;
  }
  .container > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-l-offsetl-9 {
    margin-left: -75%;
  }
  .container > .row > .col-l-offsetr-9 {
    margin-left: 75%;
  }
  .container-fluid > .row > .col-l-offsetl-9 {
    margin-left: -75%;
  }
  .container-fluid > .row > .col-l-offsetr-9 {
    margin-left: 75%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-l-push-9 {
    position: relative;
    left: 75%;
  }
  .container > .row > .col-l-pull-9 {
    position: relative;
    right: 75%;
  }
  .container-fluid > .row > .col-l-push-9 {
    position: relative;
    left: 75%;
  }
  .container-fluid > .row > .col-l-pull-9 {
    position: relative;
    right: 75%;
  }
  .container > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-l-offsetl-10 {
    margin-left: -83.33333333%;
  }
  .container > .row > .col-l-offsetr-10 {
    margin-left: 83.33333333%;
  }
  .container-fluid > .row > .col-l-offsetl-10 {
    margin-left: -83.33333333%;
  }
  .container-fluid > .row > .col-l-offsetr-10 {
    margin-left: 83.33333333%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-l-push-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container > .row > .col-l-pull-10 {
    position: relative;
    right: 83.33333333%;
  }
  .container-fluid > .row > .col-l-push-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container-fluid > .row > .col-l-pull-10 {
    position: relative;
    right: 83.33333333%;
  }
  .container > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-l-offsetl-11 {
    margin-left: -91.66666667%;
  }
  .container > .row > .col-l-offsetr-11 {
    margin-left: 91.66666667%;
  }
  .container-fluid > .row > .col-l-offsetl-11 {
    margin-left: -91.66666667%;
  }
  .container-fluid > .row > .col-l-offsetr-11 {
    margin-left: 91.66666667%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-l-push-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container > .row > .col-l-pull-11 {
    position: relative;
    right: 91.66666667%;
  }
  .container-fluid > .row > .col-l-push-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container-fluid > .row > .col-l-pull-11 {
    position: relative;
    right: 91.66666667%;
  }
  .container > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  /*调整一个的位置*/
  /*offsetl 往左放
   *offsetr 往右放
   */
  .container > .row > .col-l-offsetl-12 {
    margin-left: -100%;
  }
  .container > .row > .col-l-offsetr-12 {
    margin-left: 100%;
  }
  .container-fluid > .row > .col-l-offsetl-12 {
    margin-left: -100%;
  }
  .container-fluid > .row > .col-l-offsetr-12 {
    margin-left: 100%;
  }
  /*调整多个的位置*/
  /*push 往右放
   *@{i} 移动几个列
   */
  .container > .row > .col-l-push-12 {
    position: relative;
    left: 100%;
  }
  .container > .row > .col-l-pull-12 {
    position: relative;
    right: 100%;
  }
  .container-fluid > .row > .col-l-push-12 {
    position: relative;
    left: 100%;
  }
  .container-fluid > .row > .col-l-pull-12 {
    position: relative;
    right: 100%;
  }
}
/*清除浮动撑大父元素的影响*/
